<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Tutor</title>
    <link rel="stylesheet" href="/static/tutor.css">
</head>
<body>
    <nav class="menu__bar">
        <h1 class="logo"><a href="/course.html">COURSES</a></h1>
        <ul>
            <li><a href="/home1">HOME</a></li>  
            <li><a href="/course">COURSES</a></li>  
            <li><a href="/tutor">TUTORS</a></li>      
            <li><a href="/profile">PROFILE</a></li>  
            <li><a href="/booking">BOOKING</a></li>    
            <li><a href="/logout" class="logout-btn">LOGOUT</a></li>
        </ul>
    </nav>

    <section class="tutor-section">
        <h2>BOOKED TUTORS</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="tutor-list">
            {% for tutor in tutors %}
            <div class="tutor-item">
                <h3>{{ tutor[0] }}</h3> 
                <p>Per Hour Charge: ${{ tutor[1] }}</p> 
                <p>Booking date: {{ tutor[3] }} </p>
            </div>
            {% else %}
                <p>No tutors available.</p>
            {% endfor %}
        </div>
    </section>
</body>
</html>
