<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dept.css"> 
</head>
<body>
    <nav class="menu__bar">
        <h1 class="logo"><a href="/course.html">DEPARTMENTS</a></h1>
        <ul>
            <li><a href="/home1">HOME</a></li>  
            <li><a href="/course">COURSES</a></li>              
            <li><a href="/tutor">TUTORS</a></li>      
            <li><a href="/profile">PROFILE</a></li>  
            <li><a href="/booking">BOOKING</a></li>    
            <li><a href="/logout" class="logout-btn">LOGOUT</a></li>
        </ul>
    </nav>
    <section class="container">
            <div class="card">
                <div class="card-image" id="cse"></div>
                <h2>CSE</h2>
                <p>Computer Science and Engineering (CSE) is an academic subject comprising approaches of computer science and computer engineering. There is no clear division in computing between science and engineering, just like in the field of materials science and engineering.</p>
                 <button><a href="/course">VIEW COURSE</a></button>
            </div>
            <div class="card">
                <div class="card-image" id="bba"></div>
                <h2>BBA</h2>
                <p>Bachelor of Business Administration (BBA) programs are designed to provide students with a strong foundation in business courses and advanced courses for specific concentrations. A BBA helps students build managerial skills and prepares them for business administration positions.</p>
                <button><a href="/">COMING SOON</a></button>
            </div>
            <div class="card">
                <div class="card-image" id="biotech"></div>
                <h2>BIOTECHNOLOGY</h2>
                <p>The Manipal School of Life Sciences (MSLS), Manipal established in 2002, became an independent identity in 2006 and is one of the top biotechnological institutes of the country. </p>
                <button><a href="/">COMING SOON</a></button>
            </div>
            <div class="card">
                <div class="card-image" id="Architecture"></div>
                <h2>Architecture</h2>
                <p>An architecture department is an academic or government body focused on the study and practice of architecture, which involves the art and science of designing and engineering buildings and other structures. These departments offer degree programs to prepare students for careers as architects and professionals in the field. </p>
                <button><a href="/">COMING SOON</a></button>
            </div>
           
        </section>

</body>
</html>
